<div class="text-center" style="font-size: 140%;">Invoices</div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="text-align: center;">Invoive ID</th>
        <th scope="col" style="text-align: center;">Client Name</th>
        <th scope="col" style="text-align: center;">DueDate</th>
        <th scope="col" style="text-align: center;">Price</th>
        <th scope="col" style="text-align: center;">Delete Invoice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Inv of invoiceList">
        <td (click)="populateForm(Inv)" style="text-align: center;">{{Inv.InvoiceID}}</td>
        <td (click)="populateForm(Inv)" style="text-align: center;">{{Inv.Customer.CustomerName}}</td>
        <td (click)="populateForm(Inv)" style="text-align: center;">{{Inv.DueDate}}</td>
        <td (click)="populateForm(Inv)" style="text-align: center;">{{Inv.Price}}</td>
        <td style="text-align: center;"><button (click)="onDelete(Inv.InvoiceID)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>

  
  <div class="text-center" style="font-size: 140%;">Customers</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">CustomerID</th>
            <th scope="col" style="text-align: center;">CustomerName</th>
            <th scope="col" style="text-align: center;">BirthDate</th>
            <th scope="col" style="text-align: center;">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Inv of CustomerList">
            <td style="text-align: center;">{{Inv.CustomerID}}</td>
            <td style="text-align: center;">{{Inv.CustomerName}}</td>
            <td style="text-align: center;">{{Inv.BirthDate | date: 'dd/MM/yyyy'}}</td>  
            <td style="text-align: center;">{{Inv.Phone}}</td>
          </tr>
        </tbody>
      </table>

   